{{#modal-dialog
    title=(t (if isNew "admin.editAssessment.questions.add" "admin.editAssessment.questions.edit"))
    cancel="cancel"
    size="modal-lg"
    closeButton=false
    closeOnEsc=false
    backdrop="static"
}}
    {{#form-validator submit=(action "save") errors=errors as |formSubmit parentFormValidator|}}
        <div class="modal-body">
            <div class="margin-btm-30">
                <div class="row">
                    <div class="col-md-6">
                        {{#input-validator target="model.question" text=(t "admin.editAssessment.questions.text")}}
                            {{input
                                value=model.question
                                type="text"
                                class="form-control"
                                maxlength=128
                            }}
                        {{/input-validator}}

                        {{#input-validator target="model.domainId" text=(t "admin.editAssessment.questions.domain")}}
                            <select onchange={{action (mut model.domainId) value="target.value"}} class="form-control">
                                <option value="">{{t "admin.editAssessment.questions.selectDomain"}}</option>
                                {{#each assessment.domains as |domain|}}
                                    <option value={{domain.id}} selected={{eq model.domainId domain.id}}>
                                        {{domain.label}}
                                    </option>
                                    {{#if domain.subDomains}}
                                        <optgroup label={{concat "-- " (t "admin.editAssessment.questions.subdomains") " --"}}>
                                            {{#each domain.subDomains as |subdomain|}}
                                                <option value={{subdomain.id}} selected={{eq model.domainId subdomain.id}}>
                                                    {{subdomain.label}}
                                                </option>
                                            {{/each}}
                                        </optgroup>
                                    {{/if}}
                                {{/each}}
                            </select>
                        {{/input-validator}}

                    </div>
                    <div class="col-md-6">
                        {{#input-validator target="hasAnswerWithNoScore" text=(t "admin.editAssessment.questions.likert.group.pointsDist")}}
                            <div class="form-inline">
                                {{#each model.possibleItemAnswers as |answer|}}
                                    <div class="margin-btm-10">
                                        <div class="form-group">
                                            {{input
                                                value=answer.score
                                                type="number"
                                                class="form-control form-control-xs"
                                            }}
                                        </div>
                                        <div class="form-group">
                                            <p class="form-control-static">
                                                {{t "admin.editAssessment.questions.likert.group.pointsFor" option=answer.content}}
                                            </p>
                                        </div>
                                    </div>
                                {{/each}}
                            </div>
                        {{/input-validator}}
                    </div>
                </div>
            </div>
            <div class="form-group">
                <h5><label>{{t "admin.editAssessment.questions.feedback.supplement"}}</label></h5>
                {{edit-assessment/questions/content
                    model=model.itemContent.feedback
                    wordOnly=true
                }}
            </div>
        </div>
        <div class="modal-footer">
            {{#if isNew}}
                <button type="button" class="btn btn-default" {{action "cancelAdd"}}>
                    {{t "dialog.cancel"}}
                </button>
            {{/if}}
            <button type="submit" class="btn btn-primary btn-wide" {{action formSubmit}}>
                {{t (if isNew "admin.editAssessment.questions.add" "dialog.done")}}
            </button>
        </div>
    {{/form-validator}}
{{/modal-dialog}}
