{{#page-section fullWidth=true}}
    <div class="page-title pattern margin-btm-30">
        <div class="container text-center">
            <div class="pull-right">
                {{#if (can "assessments.import")}}
                    <button class="btn btn-border-white" {{action "openImportModal"}}>
                        {{fa-icon icon="upload"}}
                        {{t "admin.import.label"}}
                    </button>
                {{/if}}
                &nbsp;
                {{#if (can "assessments.create")}}
                    {{#link-to "admin.manage-assessments.new" class="btn btn-border-white"}}
                        {{fa-icon icon="plus"}}
                        {{t "admin.createAssessment.create"}}
                    {{/link-to}}
                {{/if}}
            </div>
            <h1>{{t "admin.manageAssessments"}}</h1>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-lg-3">
                <p><strong>{{t "admin.category.label"}}</strong></p>
                <div class="margin-btm-20">
                    {{#affixed-block}}
                        <ul class="nav nav-pils nav-boxed nav-stacked margin-btm-10">
                            {{#each categoryGroupsWithStats as |categoryGroup|}}
                                <li role="presentation">
                                    <div class="nav-static-content">
                                        <div class={{if categoryGroups.assessments "margin-btm-10"}}>
                                            <a href="" class="d-block" {{action "openEditCategoryGroup" categoryGroup.group}}>
                                                {{daacs-icon icon=categoryGroup.group.dasherizedCategory}}
                                                &nbsp;{{categoryGroup.group.label}}
                                            </a>
                                        </div>
                                        <div class="line-height-sm">
                                            {{#each categoryGroup.assessments as |assessment|}}
                                                <small>
                                                    {{#link-to "admin.manage-assessments.assessment" assessment.id}}
                                                        <span class="text-muted">
                                                            {{moment-format assessment.createdDate "MM/DD/YYYY h:mm A"}}
                                                        </span>
                                                        &middot; {{assessment.numUserCompletionsText}}
                                                    {{/link-to}}
                                                </small>
                                            {{/each}}
                                        </div>
                                    </div>
                                </li>
                            {{else}}
                                <li role="presentation">
                                    <div class="well text-muted margin-btm-0">{{t "admin.category.none"}}</div>
                                </li>
                            {{/each}}
                        </ul>
                        <a href="" {{action "openAddCategoryGroup"}}>{{t "admin.category.add"}}&hellip;</a>
                    {{/affixed-block}}
                </div>
            </div>
            <div class="col-md-8 col-lg-9 margin-btm-30">
                <h2>{{t "admin.allAssessments"}}</h2>
                <p>{{t "admin.manageAssessmentsDescription"}}</p>
                <div class="row">
                    <div class="col-lg-5 col-md-6">
                        <p>
                            {{#power-select
                                selected=categoryFilter
                                options=sortedCategoryGroups
                                renderInPlace=false
                                searchEnabled=false
                                allowClear=true
                                placeholder=(t "admin.categories.filterBy")
                                onchange=(action (mut categoryFilter))
                                as |category|
                            }}
                                {{category.label}}
                            {{/power-select}}
                        </p>
                    </div>
                </div>
                <hr>
                {{responsive-table
                    models=sortedAssessments
                    columns=revisionColumns
                    canLoadMore=false
                    noResultsText=(t "admin.noAssessmentsFound")
                    rowComponent=(component "active-table-row")
                    tableActions=(hash
                        toggleAssessment=(action "toggleAssessment")
                    )
                }}
            </div>
        </div>
    </div>
{{/page-section}}
