<div class="assessment-question-container" id="assessment-content">
    <div class="container">
        <div class="row">
            <div class="col-sm-8">
                <h2>{{assessmentContent.label}}</h2>
                {{#track-link-clicks}}
                    {{mathjax-content content=assessmentContent.content.start}}
                {{/track-link-clicks}}
            </div>
            <div class="col-sm-4">
                <h2>
                    {{daacs-icon icon=assessmentContent.dasherizedCategory}}
                    {{t "assessment.tips"}}
                </h2>
                <div class="assessment-tips">
                    {{#track-link-clicks}}
                        {{mathjax-content
                            content=assessmentContent.content.startTips
                        }}
                    {{/track-link-clicks}}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                {{#loading-button
                    clicked=(action "onNextClick")
                    class="btn-lg btn-primary"
                }}
                    {{t "assessment.startAssessment"}}
                    {{fa-icon icon="arrow-circle-o-right"}}
                {{/loading-button}}
            </div>
        </div>
    </div>
</div>