<div class="fixed-width" style={{style}}>
    {{#if isSpinning}}
        <span class="loading-spinner active"></span>
    {{else}}
        {{yield}}
    {{/if}}
</div>
<div class="confirmation save-confirmation">
    <p>
        {{#if confirmationText}}
            {{confirmationText}}
        {{else}}
            {{t "confirmation.continue"}}
        {{/if}}
    </p>
    <div>
        <button type="button" class="btn btn-border-theme {{buttonSize}}" {{action "confirm"}}>
            {{or confirmButtonText (t "confirmation.yes")}}
        </button>
        <button type="button" class="btn btn-link {{buttonSize}}" {{action "cancel"}}>
            {{or cancelButtonText (t "confirmation.no")}}
        </button>
    </div>
</div>
