{{#page-section}}
    <div class="space80"></div>
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="panel panel-primary margin-btm-50">
                <div class="panel-heading">{{t "password.resetHeading"}}</div>
                <div class="panel-body">
                    {{server-errors errors=submitError}}
                    {{#form-validator submit=(action "resetPassword") class="form account-form" errors=errors as |submit|}}
                        {{#input-validator text=(t "password.label") target="password" labelClass="sr-only"}}
                            {{input type="password" value=password class="form-control" maxlength=255 placeholder=(t "password.label")}}
                        {{/input-validator}}
                        {{#input-validator text=(t "password.confirm") target="passwordConfirmation" labelClass="sr-only"}}
                            {{input type="password" value=passwordConfirmation class="form-control" maxlength=255 placeholder=(t "password.confirm")}}
                        {{/input-validator}}
                        <div class="form-group">
                            {{#loading-button clicked=submit class="login-button full-size btn btn-border-theme btn-block btn-lg"}}
                                {{t "password.reset"}}
                                {{fa-icon icon="arrow-circle-o-right"}}
                            {{/loading-button}}
                        </div>
                    {{/form-validator}}
                </div>
            </div>
        </div>
    </div>
{{/page-section}}
