{{#page-section fullWidth=true}}
    <div class="page-title pattern">
        <div class="container text-center">
            <h1>{{t "about.label"}}</h1>
        </div>
    </div>
    <div class="jumbotron">
        <div class="container">
            <p>{{t "about.intro"}}</p>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="row margin-btm-50">
                    <div class="col-sm-3 margin-btm-20">
                        <a href="http://www.excelsior.edu/">
                            <img src="assets/images/college-logos/excelsior.png" alt={{t "about.colleges.excelsior"}} class="img-responsive center-block college-logo">
                        </a>
                    </div>
                    <div class="col-sm-3 margin-btm-20">
                        <a href="http://www.wgu.edu/">
                            <img src="assets/images/college-logos/wgu.png" alt={{t "about.colleges.wgu"}} class="img-responsive center-block college-logo">
                        </a>
                    </div>
                    <div class="col-sm-3 margin-btm-20">
                        <a href="http://www.rutgers.edu/">
                            <img src="assets/images/college-logos/rutgers.jpg" alt={{t "about.colleges.rutgers"}} class="img-responsive center-block college-logo margin-top-30">
                        </a>
                    </div>
                    <div class="col-sm-3 margin-btm-20">
                        <a href="http://www.albany.edu/">
                            <img src="assets/images/college-logos/ualbany.png" alt={{t "about.colleges.ualbany"}} class="img-responsive center-block college-logo">
                        </a>
                    </div>
                </div>
                <div class="row margin-btm-30">
                    <div class="col-sm-6">
                        <h3>{{t "about.personnel.projDirector.label"}}</h3>
                        <ul class="list-unstyled">
                            <li>{{t "about.personnel.projDirector.jBryer"}}</li>
                        </ul>
                        <h3>{{t "about.personnel.coProjDirector.label"}}</h3>
                        <ul class="list-unstyled">
                            <li>{{t "about.personnel.coProjDirector.tCleary"}}</li>
                            <li>{{t "about.personnel.coProjDirector.hAndrade"}}</li>
                        </ul>
                        <h3>{{t "about.personnel.evaluator.label"}}</h3>
                        <ul class="list-unstyled">
                            <li>{{t "about.personnel.evaluator.bStorandt"}}</li>
                        </ul>
                    </div>
                    <div class="col-sm-6">
                        <h3>{{t "about.personnel.advisory.label"}}</h3>
                        <ul class="list-unstyled">
                            <li>{{t "about.personnel.advisory.gBraddock"}}</li>
                            <li>{{t "about.personnel.advisory.lDaniels"}}</li>
                            <li>{{t "about.personnel.advisory.rDugan"}}</li>
                            <li>{{t "about.personnel.advisory.pJones"}}</li>
                            <li>{{t "about.personnel.advisory.jLevin"}}</li>
                            <li>{{t "about.personnel.advisory.dWalsh"}}</li>
                            <li>{{t "about.personnel.advisory.pWinne"}}</li>
                        </ul>
                    </div>
                </div>
                <h3>{{t "about.personnel.other.label"}}</h3>
                <div class="row margin-btm-30">
                    <div class="col-sm-6">
                        <ul class="list-unstyled">
                            <li>{{t "about.personnel.other.mVerdi"}}</li>
                            <li>{{t "about.personnel.other.jWeyers"}}</li>
                            <li>{{t "about.personnel.other.bBarros"}}</li>
                            <li>{{t "about.personnel.other.pCroop"}}</li>
                            <li>{{t "about.personnel.other.dAiken"}}</li>
                            <li>{{t "about.personnel.other.cDow"}}</li>
                            <li>{{t "about.personnel.other.cValle"}}</li>
                        </ul>
                    </div>
                    <div class="col-sm-6">
                        <ul class="list-unstyled">
                            <li>{{t "about.personnel.other.fCrocco"}}</li>
                            <li>{{t "about.personnel.other.aHerzig"}}</li>
                            <li>{{t "about.personnel.other.aLui"}}</li>
                            <li>{{t "about.personnel.other.dAkhmedjanova"}}</li>
                            <li>{{t "about.personnel.other.kHogan"}}</li>
                            <li>{{t "about.personnel.other.dFranklin"}}</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="sidebar-widget">
                    <h4>{{t "about.news.label"}}</h4>
                    <ul class="card-list list-unstyled">
                        <li>
                            <a href="http://news.excelsior.edu/excelsior-college-awarded-1-9-million-grant-to-assess-student-skills-predict-future-success/">
                                <h4>{{t "about.news.grantAwarded"}}</h4>
                                <span><em>{{t "about.colleges.excelsior"}}</em></span>
                            </a>
                        </li>
                        <li>
                            <a href="http://chronicle.com/blogs/wiredcampus/measuring-academic-skills-and-grit-to-help-identify-at-risk-students/57476">
                                <h4>{{t "about.news.measuringSkills"}}</h4>
                                <span><em>{{t "about.news.chronicle"}}</em></span>
                            </a>
                        </li>
                        <li>
                            <a href="http://www.ed.gov/news/press-releases/department-awards-60-million-first-world-grants-17-colleges-universities-and-organizations">
                                <h4>{{t "about.news.firstInWorldGrants"}}</h4>
                                <span><em>{{t "about.news.deptEd"}}</em></span>
                            </a>
                        </li>
                        <li>
                            <a href="https://campustechnology.com/articles/2015/10/08/excelsior-college-developing-student-skills-assessment-tool.aspx">
                                <h4>{{t "about.news.developingTool"}}</h4>
                                <span><em>{{t "about.news.campusTech"}}</em></span>
                            </a>
                        </li>
                        <li>
                            <a href="http://evolllution.com/attracting-students/retention/beyond-remediation-using-technology-to-maximize-retention-and-completion/">
                                <h4>{{t "about.news.beyondRemediation"}}</h4>
                                <span><em>{{t "about.news.evolllution"}}</em></span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
{{/page-section}}
