<div class="assessment-header">
    <div class="top-bar">
        {{#if minBrowserResolution}}
            <div class="container">
                <div class="row">
                    <div class="col-xs-9">
                        {{#scroll-to target="#assessment-content" class="skip-nav-link pull-left sr-only"}}
                            <span class="skip-nav-text">{{t "skipNavigation.label"}}</span>
                        {{/scroll-to}}
                        <div class="logo-widget" aria-hidden="true"></div>
                        {{daacs-icon icon=assessmentContent.dasherizedCategory}}
                        {{t "assessment.label"}}:
                        <strong>{{assessmentContent.label}}</strong>
                    </div>
                    <div class="col-xs-3 text-right">
                        {{#if logoutShown}}
                            <div class="btn-group pull-right">
                                <button
                                    class="btn btn-primary dropdown-toggle"
                                    type="button"
                                    data-toggle="dropdown"
                                    aria-haspopup="true"
                                    aria-expanded="false"
                                >
                                    <span class="user-name-text">{{session.user.fullName}}</span>
                                    &nbsp;<span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu">
                                    <li><a href="" {{action "invalidateSession"}}>{{t "logout.label"}}</a></li>
                                </ul>
                            </div>
                        {{else}}
                            <div class="top-bar-static-text user-name-text">{{session.user.fullName}}</div>
                        {{/if}}
                    </div>
                </div>
            </div>
        {{/if}}
    </div>
    {{#if showProgressBar}}
        {{progress-bar value=model.progressPercentage style="skin" labelAlignment="right"}}
    {{/if}}
</div>
